.my-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 15px 32px; /* Padding around the text */
    text-align: center; /* Center the text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Align the button */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around the button */
    cursor: pointer; /* Pointer cursor on hover */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}
h1{
  text-align: center;
}
form {
  max-width: 300px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
div {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}
button{
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

#message{
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
